<mat-card>
  <mat-grid-list cols="5" rowHeight="3:1">
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     B
   </mat-grid-tile>
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     I
   </mat-grid-tile>
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     N
   </mat-grid-tile>
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     G
   </mat-grid-tile>   
   <mat-grid-tile>
     O
   </mat-grid-tile>
   <mat-grid-tile 
   *ngFor="let subject of subjects"
   [class.selected]=subject.selected
   (click)="onSelect(subject)">
    {{subject.name}}
   </mat-grid-tile>
  </mat-grid-list>
</mat-card>